<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/scripts/script1.js"></script>
    @if (IsSectionDefined("IndexScript"))
    {
        RenderSection("IndexScript");
    }
</body>
</html>
