<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/scripts/script1.js"></script>
    @if (IsSectionDefined("IndexScript"))
    {
        RenderSection("IndexScript");
    }
</body>
</html>
